.projects {
  display: flex;
  align-items: center;
  margin: auto;
  width: 90%;
  height: 100vh;
}

.projects h2 {
  margin: auto;
  border-bottom: 5px solid #aa5c49;
  width: max-content;
  font-size: 2.5rem;
  text-align: end;
}
