header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  position: sticky;
  top: 0;
  padding-top: 15px;
  height: 10vh;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 90%;
}

#logo {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.6rem;
}

#logo:hover {
  opacity: 0.5;
}

.nav-header a {
  margin: 0 20px;
  text-decoration: none;
}

.nav-header a:hover {
  padding-bottom: 7px;
  border-bottom: 3px solid #aa5c49;
}

/******** Media Queries **********/

@media screen and (max-width: 1024px) {
  .nav-header a {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 560px) {
  .nav-header {
    display: none;
  }
  #logo {
    font-size: 1.4rem;
  }
}
