.about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 100vh;
  margin: auto;
}

.about-img {
  width: 50%;
}

.about-img img {
  width: auto;
}

.personal-info {
  line-height: 1.5;
  width: 50%;
}

.personal-info p {
  text-align: start;
  padding: 50px 0 0;
}

.personal-info h2 {
  border-bottom: 5px solid #aa5c49;
  width: max-content;
  font-size: 2.5rem;
}

.resume-button {
  text-align: start;
}

.resume-button button {
  cursor: pointer;
  margin: 50px auto;
  padding: 15px 25px;
  border-radius: 5px;
  border: double #fff;
}

.resume-button button:hover {
  transform: scale(1.1);
  border: double #aa5c49;
  transition: linear 0.2s;
}
