.about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 90%;
  height: 100vh;
  margin: auto;
}

.about-video {
  width: auto;
}

.about-video video {
  max-width: 80%;
  height: auto;
}

.personal-info {
  line-height: 1.5;
  max-width: 50%;
}

.personal-info p {
  text-align: start;
  padding: 50px 0 0;
}

.personal-info h2 {
  border-bottom: 5px solid #aa5c49;
  width: max-content;
  font-size: 2.5rem;
}

.resume-button {
  text-align: start;
}

.resume-button button {
  cursor: pointer;
  margin: 50px auto;
  padding: 15px 25px;
  border-radius: 5px;
  border: double #fff;
}

.resume-button button:hover {
  transform: scale(1.1);
  border: double #aa5c49;
  transition: linear 0.2s;
}

/************ Media Queries **********/

@media screen and (max-width: 1024px) {
  .personal-info h2 {
    font-size: 2rem;
  }
  .personal-info p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 820px) {
  .personal-info h2 {
    font-size: 1.5rem;
  }
  .personal-info p {
    font-size: 0.7rem;
  }
  .resume-button button {
    font-size: 0.8rem;
  }
}
