.skills-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
    height: 100vh;
}

.skillset h2 {
    margin: auto;
    border-bottom: 5px solid #aa5c49;
    width: max-content;
    font-size: 2.5rem;
}

.skill-icons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 50px;
    margin: 50px auto;
}

.skill-icons span {
    display: block;
}


/********** Media Queries ***********/

@media screen and (max-width: 1024px) {
    .skillset h2 {
        font-size: 2rem;
    }
}