.skills-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
    height: 100vh;
}

.skillset h2 {
    margin: auto;
    border-bottom: 5px solid #aa5c49;
    width: max-content;
    font-size: 2.5rem;
}

.skill-icons {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    gap: 50px;
    margin: 50px auto;
}

.skill-icons img {
    max-width: 75%;    
}

.skill-icons span {
    display: block;
}


/********** Media Queries ***********/

@media screen and (max-width: 1024px) {
    .skillset h2 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 820px) {
    .skill-icons {
        grid-template-columns: repeat(4, 100px);
    }
    .skill-icons span {
        font-size: 0.8rem;
    }
    .skillset h2 {
        font-size: 1.5rem;
    }
}