.introduction {
  animation: slideIn 1s linear 200ms;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  z-index: 2;
}

.occupation {
  line-height: 1.5;
}
.occupation p {
  z-index: 0;
}
.occupation h1 {
  font-weight: bold;
  font-size: 4rem;
  white-space: nowrap;
  border-right: 4px solid;
  width: 14ch;
  overflow: hidden;
  animation: typing 5s steps(14), blink 0.5s step-end infinite alternate;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/************ Media Queries **********/

@media screen and (max-width: 1024px) {
  .occupation h1 {
    font-size: 3rem;
  }

  .occupation p {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 560px) {
  .occupation h1 {
    font-size: 2rem;
  }
  .occupation p {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 360px) {
  .occupation h1 {
    font-size: 1.5rem;
  }
  .occupation p {
    font-size: 0.5rem;
  }
}
